@font-face {
  font-family: 'Roboto';
  src: url(assets/roboto/Roboto-Regular.ttf) format("truetype"); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0; }

header {
  height: 70px;
  width: auto;
  display: flex;
  flex-direction: row;
  margin-top: 8px; }

a {
  text-decoration: none; }

p {
  margin: 24px 0 0 0; }

table {
  width: 100%;
  margin-top: 24px; }

table,
th,
td {
  border-collapse: collapse; }

th {
  border-bottom: 2px solid rgba(0, 0, 0, 0.38);
  font-size: 14px;
  text-align: left; }

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 12px;
  font-size: 14px; }

.header__contacts .button__apply, .fees .fees__payments .fees__payments-items .fees__payments-btn {
  background-color: #252061;
  padding: 10px 26px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-top: 9px;
  margin-bottom: 24px; }

.header__contacts .button__apply, .fees .fees__payments .fees__payments-items .fees__payments-btn {
  background-color: #252061;
  padding: 10px 26px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin-top: 9px;
  margin-bottom: 24px; }

.header__logo {
  flex-grow: 0.5;
  margin-left: 56px;
  margin-top: 10px; }
  .header__logo .image {
    float: left;
    width: 50px;
    height: 32px;
    margin-right: 8px;
    margin-top: 6px; }
  .header__logo .header__school-name {
    margin: 0 0 5px 10px;
    color: #252061;
    font-size: 16px; }
  .header__logo .header__school-motto {
    margin: 0;
    color: rgba(0, 0, 0, 0.38);
    font-size: 13px; }

.header__contacts {
  display: flex;
  color: rgba(0, 0, 0, 0.38);
  font-size: 16px;
  flex-grow: 0.4;
  justify-content: space-evenly; }

.topnav {
  display: flex;
  flex-direction: row;
  background-color: #252061;
  font-size: 15px;
  justify-content: space-evenly;
  padding: 16px 20px;
  flex-grow: 0.5; }
  .topnav a {
    color: white; }
  .topnav .topnav__main {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-evenly; }
  .topnav .topnav__item-contact {
    flex-grow: 1;
    text-align: center; }

.procedure {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  justify-content: space-around;
  font-size: 13px;
  padding: 16px 240px; }
  .procedure a {
    color: rgba(0, 0, 0, 0.38); }

.fees {
  margin: 32px auto;
  width: 1000px; }
  .fees .fees__title {
    color: rgba(37, 32, 97, 0.77);
    font-size: 32px; }
  .fees .fees__sub-title {
    color: #707070;
    font-size: 18px;
    margin: 24px 0; }
  .fees .fees__forms {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    width: 500px;
    justify-content: space-between; }
    .fees .fees__forms .fees__form-1 {
      color: #252061; }
    .fees .fees__forms .fees__form-2,
    .fees .fees__forms .fees__form-3,
    .fees .fees__forms .fees__form-4 {
      color: #707070; }
  .fees .fees__payments {
    margin-top: 52px; }
    .fees .fees__payments .fees__payments-items {
      display: flex;
      flex-direction: column; }
      .fees .fees__payments .fees__payments-items .fees__payments-btn {
        width: 20%;
        margin-bottom: 16px;
        transition: 0.5s;
        overflow: hidden; }
      .fees .fees__payments .fees__payments-items .fees__payments-btn:after {
        content: '\02795';
        /*Unicode character for plus sign (+) */
        font-size: 10px;
        float: right;
        margin-left: 5px; }
      .fees .fees__payments .fees__payments-items .active::after {
        content: '\2796';
        /*Unicode character for minus sign (-) */ }
      .fees .fees__payments .fees__payments-items .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
        opacity: 0; }
      .fees .fees__payments .fees__payments-items .show {
        opacity: 1;
        max-height: 60px;
        margin-top: -10px; }
  .fees .fees__accounts .fees__accounts-title {
    color: #707070;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 0; }
  .fees .fees__accounts .fees__accounts-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 50%; }
    .fees .fees__accounts .fees__accounts-details .fees__accounts-specific {
      color: #707070; }

/*# sourceMappingURL=fees.css.map */
