@font-face {
    font-family: 'Roboto';
    src: url(assets/roboto/Roboto-Regular.ttf) format("truetype");
}

$fontType: 'Roboto', sans-serif;

$officialBlue: rgba(37, 32, 97, 1); 
$officialBlack: rgba(0, 0, 0, 0.38);
$lightgrey: rgba(0, 0, 0, 0.12);
$officialWhite: white;
$lightBlack: rgba(0, 0, 0, 0.16);
$semiBlue: rgba(37, 32, 97, 0.77);
$grey: rgba(112, 112, 112, 1);
