    %button__apply {
        @include blue-button;
        margin-top: 9px;
        margin-bottom: 24px;
    }

    %main__details-button {
        @include white-button;
        float: right;
        margin-bottom: 24px;
    }

    %featured__articles-button {
        @include white-button;
    }

    %awards__details-button {
        @include blue-button;
    }

    %culture__button,
    %sports__button {
        @include blue-button;
        width: 100%;
    }