.fees {
    margin: 32px auto;
    width: 1000px;

    .fees__title {
        color: $semiBlue;
        font-size: 32px;
    }

    .fees__sub-title {
        color: $grey;
        font-size: 18px;
        margin: 24px 0;
    }

    .fees__forms {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        width: 500px;
        justify-content: space-between;

        .fees__form-1 {
            color: $officialBlue;
        }

        .fees__form-2,
        .fees__form-3,
        .fees__form-4 {
            color: $grey;
        }
    }

}

.fees__payments {
    margin-top: 52px;

    .fees__payments-items {
        display: flex;
        flex-direction: column;

        .fees-btn {
            width: 20%;
            margin-bottom: 16px;
            transition: 0.5s;
            overflow: hidden;

            &:after {
                content: '\02795';
                /*Unicode character for plus sign (+) */
                font-size: 10px;
                float: right;
                margin-left: 5px;
            }

            &.active {
                &:after {
                    //After the button is activated by the user, assign this content to it
                    content: '\2796';
                    /*Unicode character for minus sign (-) */
                }
            }
        }

        .panel {
            padding: 0 18px;
            background-color: $officialWhite;
            max-height: 0;
            transition: max-height 0.5s ease-out;
            overflow: hidden;
            opacity: 0;
        }

        .show {
            opacity: 1;
            max-height: 60px;
            margin-top: -10px;
        }
    }
}

.fees__accounts {
    .fees__accounts-title {
        color: $grey;
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .fees__accounts-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        width: 50%;

        .fees__accounts-specific {
            color: $grey;
        }
    }
}