body {
    font-family: $fontType;
    margin: 0;
}

header {
    height: 70px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

a {
    text-decoration: none;
}

p {
    margin: 24px 0 0 0;
}

table {
    width: 100%;
    margin-top: 24px;
}

table,
th,
td {
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid $officialBlack;
    font-size: 14px;
    text-align: left;
}

td {
    border-bottom: 1px solid $lightgrey;
    padding: 12px;
    font-size: 14px;
}